.link-hover {
  &:hover {
    text-decoration: underline;
  }
}

.main-button {
  padding: 7px 10px;
  min-width: 150px;
  border-radius: 5px;
  flex-shrink: 0;
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  background-color: rgba(0, 173, 181, 0.7);
  transition: background-color 0.3s ease-in-out;

  &:focus,
  &:hover {
    background-color: $color-accent;
  }
}
