.pagination-wrapper {
  padding: 15px 0;
  text-align: left;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;

  &__item {
    color: #000000;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 34px;
    height: 30px;
    text-decoration: none;
    transition: background-color 0.5s;
    border: 1px solid #ddd;
    font-size: 16px;

    &.active {
      background-color: $color-accent;
      color: #ffffff;
      border: 1px solid $color-accent;
    }

    &:hover:not(.active) {
      background-color: $color-border-gray;
    }
  }
}
