// base
$font-family: "Roboto", sans-serif;
$content-width: 1170px;
$max-content-width: 1700px;
$container-offset: 15px;
$container: calc($content-width + ($container-offset * 2));
$max-container: calc($max-content-width + ($container-offset * 2));

// colors
$light-color: #fff;
$color-gray: #eeeeee;
$color-darkgray: #393e46;
$color-black: #222831;
$color-accent: #00adb5;
$color-lightgray: #f2f2f2;

// screen size
$xsm: 370px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
