@import "vendor";
@import "normalize.css";

// базовые подключения
// @import "fonts";
@import "vars";
@import "mixins";
@import "settings";

// страницы

// подключения компонентов страницы
@import "./components/header";
@import "./components/footer";

body {
  background-color: #000;
  color: #fff;
  font-family: "Roboto", sans-serif;

  position: relative;
}
